.weather-outer {
	max-width: 620px;
	margin: 0 auto;
	border: 1px solid #000;
	padding: 15px;

	.weather-header {
		display: flex;
		padding-top: 15px;
		flex-direction: row;
		max-height: 75px;

		.back-btn {
			width: 75px;
			height: 75px;
			i {
				font-size: 22px;
			}
		}
		.title {
			text-align: center;
			flex-grow: 1;
		}
	}
	.calendar-ic {
		cursor: pointer;
		font-size: 18px;
		&:hover {
			color: cornflowerblue;
		}
	}
	.weather-slider {
		min-height: 120px;
		margin-top: 15px;
		display: flex;
		align-items: center;

		.ant-spin {
			width: 100%;
		}

		.wrapper {
			position: relative;
			height: 100px;
			width: 100%;

			.btn-back, .btn-next {
				position: absolute;
				top: 0px;
				width: 15px;
				height: 100px;
				font-size: 22px;
				display: flex;
				align-items: center;
				z-index: 10;
				cursor: pointer;

				&:hover {
					color: cornflowerblue;
				}
			}
			.btn-back {
				left: -9px;
			}
			.btn-next {
				right: -9px;
			}

			.inner {
				overflow-x: auto;
				left: 0px;
				height: 120px;
				display: flex;
				flex-direction: row;
				padding: 0px 10px;

				.day {
					padding: 15px 0px;
					cursor: pointer;
					text-align: center;
					font-size: 18px;
					width: 113px;
					flex-shrink: 0;

					&.active {
						background: rgba(82, 190, 249, 0.83);
					}

					.min-max {
						font-size: 14px;
						display: flex;
						justify-content: space-around;

						span {
							text-align: center;
						}
					}
				}
			}
		}
	}
	.weather-detail {
		text-align: center;

		.inf {
			font-size: 16px;
			margin-bottom: 15px;
		}
		.weather-more {
			.item {
				display: flex;
				justify-content: space-between;
				max-width: 160px;
				margin: 0 auto;
				font-size: 14px;
			}
		}
	}
}